In [164]:
import pandas as pd
import duckdb as db

carpeta = "~/Documents/university/laboratorio_de_datos/TP/"

datos_por_departamento = pd.read_csv(carpeta+"Datos_por_departamento_actividad_y_sexo.csv")
padron_poblacion = pd.read_excel(carpeta+"padron_poblacion.xlsX")
actvidades_establecimiento = pd.read_csv(carpeta+"actividades_establecimientos.csv")
padron_oficial_establecimientos_educativos_2022 = pd.read_csv(carpeta+"2022_padron_oficial_establecimientos_educativos.csv", skiprows=6)

In [165]:
modalidad_educativa = pd.DataFrame({
    "id_modalidad": [1, 2, 3, 4, 5, 6, 7],
    "modalidad": ["Común", "Común", "Común", "Común", "Común", "Común", "Común"],
    "sub_modalidad": ["Nivel inicial - Jardín maternal", 
                      "Nivel inicial - Jardín de infantes", "Primario", "Secundario", "Secundario - INET", 
                      "SNU", "SNU - INET"],
    })
establecimiento_educativo = pd.DataFrame(columns=["CUE_establecimiento", "nombre", "sector", "mail", "telefono", "codigo_area"])
establecimiento_modalidad = pd.DataFrame(columns=["CUE_establecimiento", "id_modalidad"])
establecimiento_ubicacion = pd.DataFrame(columns=["CUE_establecimiento", "id_departamento", "ambito", "domicilio", "codigo_postal", "localidad"])
departamento_catalogo = pd.DataFrame(columns=["id_departamento", "id_provincia", "departamento"])
provincia_catalogo = pd.DataFrame(columns=["id_provincia", "provincia"])
actividad_departamento = pd.DataFrame(columns=["id_departamento", "clae6", "genero", "empleo", "establecimiento", "empresas_exportadoras"])
actividad_catalogo = pd.DataFrame(columns=["clae6", "descripcion"])
poblacion_departamento = pd.DataFrame(columns=["id_departamento", "edad", "casos"])

query1 = """
        SELECT DISTINCT in_departamentos AS id_departamento, provincia_id AS id_provincia, UPPER(TRANSLATE(departamento, 'áéíóúÁÉÍÓÚäü', 'aeiouAEIOUau')) AS departamento
        FROM datos_por_departamento;
"""

departamento_catalogo = db.query(query1).to_df()

temp = pd.DataFrame({
        "id_departamento": [99999],
        "id_provincia": [94],
        "departamento": ['ANTARTIDA ARGENTINA']
    })

departamento_catalogo = pd.concat([departamento_catalogo, temp], ignore_index=True)

query2 = """
        SELECT DISTINCT provincia_id AS id_provincia, UPPER(provincia) AS provincia 
        FROM datos_por_departamento;
"""

provincia_catalogo = db.query(query2)

query3 = """
        SELECT DISTINCT clae6, clae6_desc FROM actvidades_establecimiento;
"""

actividad_catalogo = db.query(query3)

query4 = """
        SELECT "Jurisdicción", "Cueanexo", "Nombre", "Sector", "Ámbito", "Domicilio", "C. P.", "Código de área", "Teléfono", "Código de localidad", "Localidad", "Departamento", "Mail", 
        "Nivel inicial - Jardín maternal" AS "Comun-Nivel inicial - Jardín maternal", "Nivel inicial - Jardín de infantes" AS "Comun-Nivel inicial - Jardín de infantes",
        "Primario" AS "Comun-Primario", "Secundario" AS "Comun-Secundario", "Secundario - INET" AS "Comun-Secundario - INET", "SNU" AS "Comun-SNU", "SNU - INET" AS "Comun-SNU - INET"
        FROM padron_oficial_establecimientos_educativos_2022;
"""

padron_oficial_establecimientos_educativos_2022 = db.query(query4)

query5 = """
        SELECT "Cueanexo" AS "CUE_establecimiento", "Nombre" AS "nombre", "Sector" AS "sector", "Mail" AS "mail", "Teléfono" AS "telefono",
        "Código de área" AS "codigo_area" FROM padron_oficial_establecimientos_educativos_2022
"""


establecimiento_educativo = db.query(query5)

query6 = """
        SELECT "Cueanexo" AS "CUE_establecimiento", 1 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-Nivel inicial - Jardín maternal") != ''
        UNION
        SELECT "Cueanexo" AS "CUE_establecimiento", 2 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-Nivel inicial - Jardín de infantes") != ''
        UNION
        SELECT "Cueanexo" AS "CUE_establecimiento", 3 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-Primario") != ''
        UNION
        SELECT "Cueanexo" AS "CUE_establecimiento", 4 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-Secundario") != ''
        UNION
        SELECT "Cueanexo" AS "CUE_establecimiento", 5 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-Secundario - INET") != ''
        UNION
        SELECT "Cueanexo" AS "CUE_establecimiento", 6 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-SNU") != ''
        UNION
        SELECT "Cueanexo" AS "CUE_establecimiento", 7 AS "id_modalidad" FROM padron_oficial_establecimientos_educativos_2022 WHERE TRIM("Comun-SNU - INET") != ''
        """

establecimiento_modalidad = db.query(query6)

query7 = """
        SELECT "Cueanexo" AS "CUE_establecimiento", departamento.id_departamento, "Ámbito" AS "ambito", "Domicilio" AS "domicilio", "C. P." AS "codigo_postal", "Localidad" AS "localidad" 
        FROM padron_oficial_establecimientos_educativos_2022 establecimiento
        LEFT JOIN (SELECT id_departamento, departamento, 
                   CASE 
                   WHEN prov.provincia = 'CABA' THEN 'CIUDAD DE BUENOS AIRES' 
                   ELSE prov.provincia 
                   END AS provincia FROM departamento_catalogo departamento
                   INNER JOIN provincia_catalogo prov ON departamento.id_provincia = prov.id_provincia) departamento
        ON UPPER(TRANSLATE(establecimiento.Departamento, 'áéíóúÁÉÍÓÚäü', 'aeiouAEIOUau')) = departamento.departamento 
        AND UPPER(TRANSLATE(establecimiento."Jurisdicción", 'áéíóúÁÉÍÓÚäü', 'aeiouAEIOUau')) = departamento.provincia 
"""

establecimiento_ubicacion = db.query(query7)

# Se resuelven los mismatchs restantes individualmente ya que son pocos

query8 = """
        SELECT a.CUE_establecimiento, 
        CASE
        WHEN id_departamento IS NOT NULL THEN id_departamento
        WHEN b.Departamento = 'CORONEL FELIPE VARELA' THEN 46028
        WHEN b.Departamento = 'LIBERTADOR GRL SAN MARTIN' THEN 54077
        WHEN b.Departamento = 'JUAN F IBARRA' THEN 86098
        WHEN b.Departamento = 'GENERAL ANGEL V PEÑALOZA' THEN 46056
        WHEN b.Departamento = 'JUAN B ALBERDI' THEN 90042
        WHEN b.Departamento = '1§ DE MAYO' THEN 22126
        WHEN b.Departamento = 'GENERAL JUAN MARTIN DE PUEYRREDON' THEN 74056
        WHEN b.Departamento = 'MAYOR LUIS J FONTANA' THEN 22098
        WHEN b.Departamento = 'DOCTOR MANUEL BELGRANO' THEN 38021
        WHEN b.Departamento = 'GENERAL JUAN F QUIROGA' THEN 46070
        WHEN b.Departamento = 'CORONEL DE MARINA L ROSALES' THEN 6182
        WHEN b.Departamento = 'O HIGGINS' THEN 22112
        WHEN b.Departamento = 'GENERAL OCAMPO' THEN 46084
        WHEN b.Departamento = 'ANTARTIDA ARGENTINA' THEN 99999
        END AS id_departamento
        , a.ambito, a.domicilio, a.codigo_postal, a.localidad FROM establecimiento_ubicacion a
        INNER JOIN  padron_oficial_establecimientos_educativos_2022 b ON a.CUE_establecimiento = b.Cueanexo
"""

establecimiento_ubicacion = db.query(query8)

def parsearExcelPoblacion(df):
    filas_validas = []
    departamento_actual = ""
    id_departamento_actual = ""

    for i in range(len(df)):
       fila = df.iloc[i]

       columna_0 = str(fila[0])
       columna_1 = str(fila[1])
       columna_2 = str(fila[2])
       columna_3 = str(fila[3])
       columna_4 = str(fila[4])
    

       # Veo si en la columna 1 de cada fila aparece "#"
       if "#" in columna_1:
           departamento_actual = columna_2
           id = columna_1.split('#')[1]
           id_departamento_actual = id.strip().lstrip(0)
           continue
       
       # Si se llega al final de las filas válidas se termina el ciclo
       if "RESUMEN" in columna_1:
           break
       
   
       #Salto las filas que estan vacias
       if ((columna_0 == "" or columna_0 == "nan") and
           (columna_1 == "" or columna_1 == "nan") and
           (columna_2 == "" or columna_2 == "nan") and
           (columna_3 == "" or columna_3 == "nan") and
           (columna_4 == "" or columna_4 == "nan")):
           continue
       
       def es_numero(texto):
           texto = texto.replace(",", ".")
           return texto.replace(".", "").isdigit()
       
       # Verifico si las columnas 1–4 son numéricas
       if es_numero(columna_1) and es_numero(columna_2) and es_numero(columna_3) and es_numero(columna_4):
           edad = int(columna_1)
           casos = int(columna_2)
           porcentaje = float(columna_3.replace(",", "."))
           acumulado = float(columna_4.replace(",", "."))
           
           filas_validas.append((id_departamento_actual, departamento_actual, edad, casos, porcentaje, acumulado))    
    return pd.DataFrame(filas_validas, columns=["id_departamento", "Departamento", "Edad", "Casos", "Porcentaje", "Acumulado_Porcentaje"])

poblacion_departamento = parsearExcelPoblacion(padron_poblacion)

query9 = """
        SELECT 
        CASE 
        WHEN departamento.id_departamento IS NOT NULL THEN departamento.id_departamento 
        ELSE 22126
        END AS id_departamento, Edad, Casos FROM poblacion_departamento poblacion
        LEFT JOIN departamento_catalogo departamento ON UPPER(TRANSLATE(poblacion.Departamento, 'áéíóúÁÉÍÓÚäü', 'aeiouAEIOUau')) = departamento.departamento
"""
#poblacion_departamento = db.query(query9)

/tmp/ipykernel_589671/1681368590.py:130: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  columna_0 = str(fila[0])
/tmp/ipykernel_589671/1681368590.py:131: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  columna_1 = str(fila[1])
/tmp/ipykernel_589671/1681368590.py:132: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  columna_2 = str(fila[2])
/tmp/ipykernel_589671/1681368590.py:133: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  columna_3 = str(fila[3])
/tmp/ipykernel_589671/1681368590.py:134: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  columna_4 = str(fila[4])

In [154]:
res_query1 = """
        SELECT prov.provincia, dep.departamento, est_ed.*
        FROM departamento_catalogo dep
        INNER JOIN provincia_catalogo prov ON dep.id_provincia = prov.id_provincia
        LEFT JOIN (SELECT
                   est_ub.id_departamento,
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%Jardín%' THEN 1 ELSE 0 END) AS 'Jardines',
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%Primario%' THEN 1 ELSE 0 END) AS 'Primario',
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%Secundario%' THEN 1 ELSE 0 END) AS 'Secundario',
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%SNU%' THEN 1 ELSE 0 END) AS 'Superior no Universitaria'
                   FROM establecimiento_ubicacion est_ub
                   INNER JOIN establecimiento_modalidad est_mod ON est_ub.CUE_establecimiento = est_mod.CUE_establecimiento
                   INNER JOIN modalidad_educativa mod_cat ON est_mod.id_modalidad = mod_cat.id_modalidad
                   GROUP BY est_ub.id_departamento
                  ) est_ed ON dep.id_departamento = est_ed.id_departamento
        ORDER BY prov.provincia, est_ed.Jardines DESC
"""

result1 = db.query(res_query1)
result1

┌──────────────┬───────────────────────┬─────────────────┬──────────┬──────────┬────────────┬───────────────────────────┐
│  provincia   │     departamento      │ id_departamento │ Jardines │ Primario │ Secundario │ Superior no Universitaria │
│   varchar    │        varchar        │      int64      │  int128  │  int128  │   int128   │          int128           │
├──────────────┼───────────────────────┼─────────────────┼──────────┼──────────┼────────────┼───────────────────────────┤
│ BUENOS AIRES │ LA MATANZA            │            6427 │      378 │      333 │        352 │                        25 │
│ BUENOS AIRES │ LA PLATA              │            6441 │      274 │      199 │        219 │                        64 │
│ BUENOS AIRES │ GENERAL PUEYRREDON    │            6357 │      229 │      169 │        179 │                        46 │
│ BUENOS AIRES │ QUILMES               │            6658 │      203 │      146 │        163 │                        18 │
│ BUENOS AIRES │ LOMAS DE ZAMORA       │            6490 │      201 │      178 │        205 │                        34 │
│ BUENOS AIRES │ ALMIRANTE BROWN       │            6028 │      156 │      137 │        153 │                         9 │
│ BUENOS AIRES │ AVELLANEDA            │            6035 │      152 │       93 │         88 │                        21 │
│ BUENOS AIRES │ VICENTE LOPEZ         │            6861 │      150 │       76 │         74 │                        18 │
│ BUENOS AIRES │ TIGRE                 │            6805 │      150 │      111 │        117 │                         6 │
│ BUENOS AIRES │ MORON                 │            6568 │      150 │       90 │         93 │                        23 │
│    ·         │   ·                   │              ·  │        · │        · │          · │                         · │
│    ·         │   ·                   │              ·  │        · │        · │          · │                         · │
│    ·         │   ·                   │              ·  │        · │        · │          · │                         · │
│ TUCUMAN      │ MONTEROS              │           90070 │       43 │       40 │         28 │                         8 │
│ TUCUMAN      │ LULES                 │           90063 │       40 │       32 │         25 │                         2 │
│ TUCUMAN      │ YERBA BUENA           │           90119 │       37 │       32 │         30 │                         0 │
│ TUCUMAN      │ GRANEROS              │           90035 │       30 │       30 │         24 │                         4 │
│ TUCUMAN      │ RIO CHICO             │           90077 │       30 │       30 │         30 │                         2 │
│ TUCUMAN      │ TAFI DEL VALLE        │           90098 │       25 │       24 │         16 │                         4 │
│ TUCUMAN      │ FAMAILLA              │           90028 │       25 │       23 │         18 │                         5 │
│ TUCUMAN      │ TRANCAS               │           90112 │       25 │       25 │         19 │                         4 │
│ TUCUMAN      │ JUAN BAUTISTA ALBERDI │           90042 │       19 │       19 │         15 │                         1 │
│ TUCUMAN      │ LA COCHA              │           90049 │       17 │       18 │         15 │                         1 │
├──────────────┴───────────────────────┴─────────────────┴──────────┴──────────┴────────────┴───────────────────────────┤
│ 527 rows (20 shown)                                                                                         7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [166]:
res_query1 = """
        SELECT * FROM poblacion_departamento
"""
res_query2 = """
        SELECT *
        FROM departamento_catalogo dep
        INNER JOIN provincia_catalogo prov ON dep.id_provincia = prov.id_provincia
        LEFT JOIN (SELECT
                   est_ub.id_departamento,
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%Jardín%' THEN 1 ELSE 0 END) AS 'Jardines',
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%Primario%' THEN 1 ELSE 0 END) AS 'Primario',
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%Secundario%' THEN 1 ELSE 0 END) AS 'Secundario',
                   SUM(CASE WHEN mod_cat.sub_modalidad LIKE '%SNU%' THEN 1 ELSE 0 END) AS 'Superior no Universitaria'
                   FROM establecimiento_ubicacion est_ub
                   INNER JOIN establecimiento_modalidad est_mod ON est_ub.CUE_establecimiento = est_mod.CUE_establecimiento
                   INNER JOIN modalidad_educativa mod_cat ON est_mod.id_modalidad = mod_cat.id_modalidad
                   GROUP BY est_ub.id_departamento
                  ) est_ed ON dep.id_departamento = est_ed.id_departamento
        ORDER BY est_ed.Jardines DESC
"""

result1 = db.query(res_query1)
result1

┌─────────────────┬──────────────┬───────┬───────┬─────────────────────┬──────────────────────┐
│ id_departamento │ Departamento │ Edad  │ Casos │     Porcentaje      │ Acumulado_Porcentaje │
│     varchar     │   varchar    │ int64 │ int64 │       double        │        double        │
├─────────────────┼──────────────┼───────┼───────┼─────────────────────┼──────────────────────┤
│  02007          │ Comuna 1     │     0 │  1720 │ 0.00778277021370944 │  0.00778277021370944 │
│  02007          │ Comuna 1     │     1 │  1652 │ 0.00747507929828372 │   0.0152578495119932 │
│  02007          │ Comuna 1     │     2 │  1996 │ 0.00903163334102561 │   0.0242894828530188 │
│  02007          │ Comuna 1     │     3 │  2079 │ 0.00940719725250112 │   0.0336966801055199 │
│  02007          │ Comuna 1     │     4 │  2329 │   0.010538413853331 │   0.0442350939588509 │
│  02007          │ Comuna 1     │     5 │  2443 │  0.0110542486233094 │   0.0552893425821603 │
│  02007          │ Comuna 1     │     6 │  2459 │  0.0111266464857625 │   0.0664159890679228 │
│  02007          │ Comuna 1     │     7 │  2586 │  0.0117013045189841 │   0.0781172935869068 │
│  02007          │ Comuna 1     │     8 │  2525 │  0.0114252876683816 │   0.0895425812552884 │
│  02007          │ Comuna 1     │     9 │  2528 │  0.0114388622675915 │     0.10098144352288 │
│   ·             │    ·         │     · │    ·  │           ·         │             ·        │
│   ·             │    ·         │     · │    ·  │           ·         │             ·        │
│   ·             │    ·         │     · │    ·  │           ·         │             ·        │
│  06525          │ Marcos Paz   │    69 │   368 │  0.0056824323280987 │    0.946155865412825 │
│  06525          │ Marcos Paz   │    70 │   318 │ 0.00491036271830268 │    0.951066228131128 │
│  06525          │ Marcos Paz   │    71 │   296 │ 0.00457065208999243 │    0.955636880221121 │
│  06525          │ Marcos Paz   │    72 │   280 │ 0.00432358981485771 │    0.959960470035978 │
│  06525          │ Marcos Paz   │    73 │   276 │ 0.00426182424607403 │    0.964222294282052 │
│  06525          │ Marcos Paz   │    74 │   247 │ 0.00381402387239233 │    0.968036318154445 │
│  06525          │ Marcos Paz   │    75 │   227 │ 0.00350519602847393 │    0.971541514182918 │
│  06525          │ Marcos Paz   │    76 │   225 │ 0.00347431324408209 │    0.975015827427001 │
│  06525          │ Marcos Paz   │    77 │   208 │ 0.00321180957675144 │    0.978227637003752 │
│  06525          │ Marcos Paz   │    78 │   196 │  0.0030265128704004 │    0.981254149874152 │
├─────────────────┴──────────────┴───────┴───────┴─────────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                     6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────┘